button{
    padding: 15px 40px;
    border: none;
    background-color: gray;
    color: white;
    font-weight: bold;
    margin: 0;
}

button:hover{
    background-color: darkgray;
}

button.active{
    background-color: white;
    color: black;
}